img {
    transition: all 0.5s ease-in;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
    /* transition-property: all;
    filter: none; */
    /* transition-timing-function: ease; */
    /* transform-origin: bottom right; */
    transform: perspective(300px);
    /* backface-visibility: hidden; */
}
img:hover {
    /* filter: sepia(1) */
    /* transform: rotate(1turn); */
    /* transform: scale(1.4, 0.5); */
    /* transform: skewX(30deg); */
    /* transform: translateX(); */
    /* transform: perspective(300px) rotateY(45deg); */
    /* transform: rotate(1turn); */
    transform: perspective(300px) rotateY(180deg);

}   